<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <p>
        Welcome to
        <%= title %>
      </p>
    </header>
    <main>
      <a href="/new"><button class="form-link">Submit a message</button></a>
      <ul class="messages-list">
        <% messages.forEach(message => { %>
        <li>
          <article class="message-container">
            <div class="message-author">
              <img src="/images/user.svg" alt="Author" />
              <p><%= message.author %></p>
            </div>
            <small class="message-date">
              <%= message.date.toLocaleString() %>
            </small>
            <p><%= message.text %></p>
          </article>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
